.icon-nav
{
    border: 1px solid rgba(124, 124, 124, 0.5);
    border-radius: 10px;
    padding: 10px;
}
.input-group-addon
{
    margin-left: 25px; 
}
.userInfo
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    margin-left: 10px; 
}
#showUserHoursButton
{
    position: absolute;
    left: 1%;
}
.employeeContent
{
    position: absolute;
    left: 1%;
    margin-top: 40px;
    font-size: 20px;
}